<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/source/bootstrap.min.css">
    <script src="/source/jquery.min.js"></script>
    <script src="/source/popper.min.js"></script>
    <script src="/source/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/source/index.css">
    
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="Olmazor">Login</a>
        <a href="information">Ro'yxat</a>
        <a href="otiochsin">Otiochsin</a>
        <a href="qwe">Fayllarni ko'rish</a>
        <a href="rootfile">Fayllar kiritish</a>
        <a href="#">Unknown</a>
        <a href="excel">Ocall</a>

      </div>
      
      
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
      
      <script src="source/action.js"></script>
</body>
</html>