<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/source/index.css">
    
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="Olmazor">Olmazor</a>
        <a href="#">Shayhontoxur</a>
        <a href="#">Kutubxona</a>
        <a href="#">Nomi Ochsin</a>
      </div>
      
      
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
      
      <script src="source/action.js"></script>
</body>
</html>