<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>№</th>
            <th>Карор</th>
            <th>Туман номи</th>
            <th>Махалля</th>
            <th>Код</th>
            <th>Недвижимость</th>
            <th>Правообладатель</th>
            <th>Сопроводительный документ</th>
            <th>Площадь земельного участка Общая</th>
            <th>Площадь Общая</th>
            <th>Площадь Жилая</th>
            <th>Комнаты</th>
            <th>Сана</th>
            <th>User</th>
        </tr>
    </table>
</body>
</html>