<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olmazor</title>
</head>
<body>
    <form action="/Olmazor" method="POST">
    <input type="text" name="name" results=5 autosave=some_unique_value>
    
    <input type="submit" value="go">
    </form>
    <form method="POST" action="/Olmazor">

<table>
    <tr>
        <td>
            <input type="text" name="name"  />
            <button type="submit" >ok</button>
        </td>
        <td>
            <input type="text" name="qwe"  />
            <button type="button" >ok</button>
        </td>
    </tr>
</table>

</form>
</body>
</html>