<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="fios">Ф.И.О</label>
        <input type="text" name="fios" id="fios">
        <input type="text" name="births">
        <input type="text" name="relations">
        <input type="text" name="joins">
        <input type="text" name="manzils">
        <input type="text" name="raqams">
        <input type="text" name="vaqts">
        <input type="text" name="yashashs">
        <input type="text" name="foydas">
        <input type="text" name="hujjats">
        <input type="text" name="izoh">
        
    </form>
</body>
</html>